<div id="poll-panel" class="container">
  <h2>POLL PANEL</h2>

  <div *ngIf="this.session.connection.role != 'MODERATOR' else mod_poll" id="poll-container">

    <div *ngIf="this.poll else no_poll">

      <div>Response Index: {{this.responseIndex}}</div>

      <div class="question container">{{this.poll.question}}</div>
      <div *ngFor="let response of this.poll.responses; let resIndex = index" class="response participant-response" [ngClass]="{'pending': this.poll.status == 'pending', 'responded': (this.poll.status == 'responded' || this.poll.status == 'closed') && this.responseIndex == resIndex}" (click)="respondPoll(resIndex)">
        <div class="response-data participant"><div class="response-text">{{response.text}}</div></div>
      </div>

      <div *ngIf="this.poll.status == 'closed'" class="container">Poll has been closed</div>

    </div>

    <ng-template #no_poll>
      <div>
        <p class="no-poll-text">There is no poll in process. Wait until the moderators of the session create one.</p>
      </div>
    </ng-template>

  </div>

  <ng-template #mod_poll>

    <div *ngIf="this.poll else mod_no_poll">

      <div *ngIf="this.poll.status == 'creating' else mod_poll_info">
        <form (submit)="createPoll(this.poll)">
          <input id="question-input" [class.error]="this.creationErrorInput == 'question'" placeholder="Question" [(ngModel)]="this.poll.question" required #name="ngModel"/>
          <div *ngFor="let response of this.poll.responses; let resIndex = index; " class="response-input-container">
            <input class="response-input" [class.error]="this.creationErrorInput == 'response'+resIndex" [(ngModel)]="response.text" [placeholder]="'Response ' + (resIndex + 1)" required/>
            <button class="response-input-delete"  title="Remove Response" [color]="this.poll.responses.length < 3? 'disabled': ''" [disabled]="this.poll.responses.length < 3" (click)="this.removeResponse(resIndex)" mat-raised-button><mat-icon>delete_outline</mat-icon></button>
          </div>
          <button id="add-response-btn" type="button" title="Add Response" (click)="addEmptyResponse()" mat-raised-button><mat-icon>add</mat-icon></button>
          <div *ngIf="this.creationError != ''" class="container error" id="creation-error">{{this.creationError}}</div>
          <button class="poll_action_btn" type="submit" title="Create Poll" mat-raised-button>CREATE POLL</button>
        </form>
      </div>

      <!-- <div>Status: {{this.poll.status}}</div> -->

      <ng-template #mod_poll_info>

        <div class="question container">{{this.poll.question}}</div>
        <!-- <div *ngFor="let answer of this.poll.answers" class="container response mod_response">{{answer}}</div> -->
        <div class="response" *ngFor="let response of this.poll.responses">
          <div class="response-progress" [style.width.%]="100*response.result/this.poll.totalResponses" [style]="response.result/this.poll.totalResponses >= .95? 'border-top-right-radius: 10px; border-bottom-right-radius: 10px;': ''"></div>
          <div class="response-data"><div class="response-text">{{response.text}}</div><div class="response-percentage">{{this.poll.totalResponses == 0? 0: 100*response.result/this.poll.totalResponses}}% ({{response.result}})</div></div>
        </div>

        <div class="total-responses">{{this.poll.totalResponses}} of {{this.session.remoteConnections.size}} participants responded</div>

        <!-- <input [(ngModel)]="this.poll.responses[0].result" type="number" min="0" max="1000" step="1" /> -->
        <button *ngIf="this.poll.status == 'pending'" (click)="closePoll()" class="poll_action_btn" mat-raised-button>CLOSE POLL</button>
        <button *ngIf="this.poll.status == 'closed'" (click)="deletePoll()" class="poll_action_btn" mat-raised-button>DELETE POLL</button>

      </ng-template>

    </div>

    <ng-template #mod_no_poll>
      <div>
        <p class="no-poll-text">There is no poll in process. Click the button below in order to create one.</p>
        <button (click)="loadPollForCreation()" class="poll_action_btn" mat-raised-button>CREATE POLL</button>
      </div>
    </ng-template>

  </ng-template>

</div>
