#poll-panel {
	min-height: 100%;
}

.container {
	padding: 1rem;
	border-radius: 10px;
}

.question {
	background-color: #BBB;
	font-size: 14pt;
	width: calc(100% - 2rem);
	margin-bottom: 2rem;
}

.response {
	width: 100%;
	min-height: 3rem;
	background-color: #DDD;
	border-radius: 10px;
	position: relative;
	margin-bottom: 1rem;
}

.response.participant-response {
	background-color: #BBB;
}
.response.participant-response.pending {
	cursor: pointer;
}
.response.participant-response.pending:hover {
	background-color: #DDD;
}
.response.participant-response.pending:active {
	background-color: #88F;
}

.response.participant-response.responded {
	background-color: #AAF;
}

.response-data.participant {
	justify-content: start;
}

.response-progress {
	height: 100%;
	background-color: #AAF;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.response-data {
	font-size: 12pt;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding-left: .5rem;
}

.response-text {
	margin-left: .5rem;
}

.response-percentage {
	margin-right: 1rem;
}

.total-responses {
	font-size: 14pt;

}

.poll_action_btn {
	background-color: #EEE;
	padding: 15px;
	font-size: 14pt;
	width: 60%;
	margin-top: 2rem;
	margin-left: 20%;
}

.no-poll-text {
	font-size: 13pt;
}

.error {
	background-color: #FAA;
}
