<div id="poll-panel" class="container">
  <h2>POLL PANEL</h2>

  <div *ngIf="this.session.connection.role != 'MODERATOR' else mod_poll" id="poll-container">

    <div *ngIf="this.poll else no_poll">

      <div>Response Index: {{this.responseIndex}}</div>

      <div class="question container">{{this.poll.question}}</div>
      <div *ngFor="let response of this.poll.responses; let resIndex = index" class="response participant-response" [ngClass]="{'pending': this.poll.status == 'pending', 'responded': (this.poll.status == 'responded' || this.poll.status == 'closed') && this.responseIndex == resIndex}" (click)="respondPoll(resIndex)">
        <div class="response-data participant"><div class="response-text">{{response.text}}</div></div>
      </div>

      <div *ngIf="this.poll.status == 'closed'" class="container">Poll has been closed</div>

      <button (click)="logPoll()" class="poll_action_btn" mat-raised-button>LOG POLL</button>

    </div>

    <ng-template #no_poll>
      <div>
        <p class="no-poll-text">There is no poll in process. Wait until the moderators of the session create one.</p>
      </div>
    </ng-template>

  </div>

  <ng-template #mod_poll>

    <div *ngIf="this.poll else mod_no_poll">

      <div class="question container">{{this.poll.question}}</div>
      <!-- <div *ngFor="let answer of this.poll.answers" class="container response mod_response">{{answer}}</div> -->
      <div class="response" *ngFor="let response of this.poll.responses">
        <div class="response-progress" [style.width.%]="100*response.result/this.poll.totalResponses" [style]="response.result/this.poll.totalResponses >= .95? 'border-top-right-radius: 10px; border-bottom-right-radius: 10px;': ''"></div>
        <div class="response-data"><div class="response-text">{{response.text}}</div><div class="response-percentage">{{this.poll.totalResponses == 0? 0: 100*response.result/this.poll.totalResponses | number : '1.0-2'}}% ({{response.result}})</div></div>
      </div>

      <div class="total-responses">{{this.poll.totalResponses}} of {{this.session.remoteConnections.size}} participants responded</div>

      <button *ngIf="this.poll.status == 'pending'" (click)="closePoll()" class="poll_action_btn" matTooltip="Close Poll" mat-raised-button>CLOSE POLL</button>
      <div *ngIf="this.poll.status == 'closed'" class="poll_action_buttons">
        <button (click)="deletePoll()" class="poll_action_icon_btn" matTooltip="Delete Poll" mat-raised-button><mat-icon>delete_outline</mat-icon></button>
        <button *ngIf="this.exportResultsFilename == null || this.exportResultsHref == null" (click)="loadExportCurrentResults()" class="poll_action_icon_btn" matTooltip="Prepare Results" mat-raised-button><mat-icon>sync</mat-icon></button>
        <a *ngIf="this.exportResultsFilename != null && this.exportResultsHref != null" [href]="this.exportResultsHref" [download]="exportResultsFilename" type="button" class="poll_action_icon_btn" matTooltip="Export Results" mat-raised-button><mat-icon>get_app</mat-icon></a>
      </div>

      <button (click)="logPoll()" class="poll_action_btn" mat-raised-button>LOG POLL</button>

    </div>

    <ng-template #mod_no_poll>
      <app-poll-creation [session]="this.session"></app-poll-creation>
    </ng-template>

  </ng-template>

</div>
