.container {
	padding: 1rem;
	border-radius: 10px;
}

#question-input {
	width: calc(100% - 1.2rem);
	font-size: 14pt;
	padding: .6rem;
	position: relative;
}

#options-form-group-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.form-group-title {
	padding: .4rem;
	margin-top: 1rem;
	border-bottom: 1px solid darkgray;
	font-size: 12pt;
}

.response-input-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.response-input {
	font-size: 12pt;
	position: relative;
	padding: .6rem;
	width: 75%;
}

.response-input-delete {
	background-color: #F44;
	color: white;
	width: 15%;
	min-width: 15% !important;
	height: 100%;
	font-size: 8pt;
	padding: .1rem;
	position: relative;
}

#response-options-limits-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.response-options-limit {
	width: 45%;
	position: relative;
	padding-top: .5rem;
}

#add-response-btn {
	background-color: #44F;
	color: white;
	width: 15%;
	padding: .1rem;
	/*margin-top: 1rem;*/
}

#anonymous-check {
	font-size: 12pt;
	font-weight: bold;
	padding: 0 1rem;
	margin-top: 1.5rem;
}

#creation-error,
#export-note,
#export-valid {
	width: calc(100% - 2rem);
	margin-top: 1rem;
  font-size: 12pt;
}

.poll_action_btn {
	background-color: #EEE;
	padding: 15px;
	font-size: 14pt;
	width: 60%;
	margin-top: 2rem;
	margin-left: 20%;
}

.poll_action_buttons {
	width: calc(100% - 2rem);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.poll_action_icon_btn {
	background-color: #EEE;
	padding: 15px;
	font-size: 18pt;
}

.error {
	background-color: #FAA;
}

.note {
  background-color: #DDF;
}

.valid {
	background-color: #AFA;
}

#import-input {
  display: none;
}

.no-poll-text {
	font-size: 13pt;
}
