<div *ngIf="this.pollDefinition else mod_no_poll_def">
  <form id="poll-creation-form" (submit)="createPoll()">

    <label for="type-select">Type: </label>
    <select name="type" id="type-select" class="poll-form-field" [(ngModel)]="this.pollDefinition.type" (ngModelChange)="this.resetValidation()">
      <option value="single_option">Single Option</option>
      <option value="lottery">Lottery</option>
      <option value="multiple_option">Multiple Option</option>
      <option value="preference_order">Preference Order</option>
    </select>

    <mat-slide-toggle [name]="'anonymous'" [(ngModel)]="this.pollDefinition.anonymous" (ngModelChange)="this.resetValidation()" id="anonymous-check">Anonymous</mat-slide-toggle>

    <mat-form-field id="question-input" class="poll-form-field" appearance="outline" subscriptSizing="dynamic" [class.poll-form-field-invalid]="this.creationErrorInput == 'question'" [color]="this.creationErrorInput == 'question'? 'warn': 'primary'">
      <mat-label>Question</mat-label>
      <input matInput type="text" [name]="'question'" [(ngModel)]="this.pollDefinition.question" (ngModelChange)="this.resetValidation()"/>
    </mat-form-field>

    <ng-container *ngIf="this.pollDefinition.type != 'lottery'">
      <div id="options-form-group-title" class="form-group-title">
        <div>Options</div>
        <button id="add-response-btn" type="button" matTooltip="Add Response" (click)="addEmptyOption()" mat-raised-button><mat-icon>add</mat-icon></button>
      </div>
      <div *ngFor="let option of this.pollDefinition.args.options; let optIndex = index;" class="response-input-container">
        <mat-form-field class="poll-form-field response-input" appearance="outline" subscriptSizing="dynamic" [class.poll-form-field-invalid]="this.creationErrorInput == 'option'+optIndex" [color]="this.creationErrorInput == 'option'+optIndex? 'warn': 'primary'">
          <mat-label>Option {{optIndex + 1}}</mat-label>
          <input matInput type="text" [id]="'input_option-'+optIndex" [name]="'option-'+optIndex" [(ngModel)]="option.text" (ngModelChange)="this.resetValidation()"/>
        </mat-form-field>
        <button [id]="'rm-btn-option-'+optIndex" class="response-input-delete" matTooltip="Remove Response" matTooltipPosition="above" [color]="this.pollDefinition.args.options.length < 3? 'disabled': ''" [disabled]="this.pollDefinition.args.options.length < 3" (click)="this.removeOption(optIndex)" mat-raised-button><mat-icon>delete_outline</mat-icon></button>
      </div>
    </ng-container>

    <ng-container *ngIf="this.pollDefinition.type == 'multiple_option' || this.pollDefinition.type == 'preference_order'">
      <div id="response-options-limits-form-group-title" class="form-group-title">Limits</div>
      <div id="response-options-limits-container">
        <mat-form-field id="response-min-options-field" class="poll-form-field response-options-limit" appearance="outline" subscriptSizing="dynamic" [class.poll-form-field-invalid]="this.creationErrorInput == 'minOptions'" [color]="this.creationErrorInput == 'minOptions'? 'warn': 'primary'">
          <mat-label>Min Options</mat-label>
          <input matInput id="min-options-input" type="number" name="minOptions" [(ngModel)]="this.pollDefinition.args.minOptions" min="1" [max]="this.pollDefinition.args.options.length" (ngModelChange)="this.changedResponseOptionsLimit()"/>
        </mat-form-field>
        <mat-form-field id="response-max-options-field" class="poll-form-field response-options-limit" appearance="outline" subscriptSizing="dynamic" [class.poll-form-field-invalid]="this.creationErrorInput == 'maxOptions'" [color]="this.creationErrorInput == 'maxOptions'? 'warn': 'primary'">
          <mat-label>Max Options</mat-label>
          <input matInput id="max-options-input" type="number" name="maxOptions" [(ngModel)]="this.pollDefinition.args.maxOptions" [min]="this.pollDefinition.args.minOptions" [max]="this.pollDefinition.args.options.length" (ngModelChange)="this.changedResponseOptionsLimit()"/>
        </mat-form-field>
      </div>
    </ng-container>

    <div class="poll_action_buttons">
      <button *ngIf="this.exportFilename == null || this.exportHref == null" class="poll_action_icon_btn" type="button" matTooltip="Validate Poll" (click)="validateCurrentDefinition()" mat-raised-button><mat-icon>done</mat-icon></button>
      <a *ngIf="this.exportFilename != null && this.exportHref != null" [href]="this.exportHref" [download]="this.exportFilename" type="button" class="poll_action_icon_btn" matTooltip="Export Definition" mat-raised-button><mat-icon>get_app</mat-icon></a>
      <button id="import-poll-def-btn" class="poll_action_icon_btn" type="button" matTooltip="Import Poll" (click)="importInput.click();" mat-raised-button><mat-icon>publish</mat-icon></button>
      <button id="submit-poll-def-btn" class="poll_action_icon_btn" type="submit" matTooltip="Create Poll" mat-raised-button><mat-icon>forward</mat-icon></button>
    </div>

    <input id="import-input" (change)="importSelectedPoll($event.target.files[0])" type="file" accept=".json,application/json" multiple="false" #importInput/>

    <div *ngIf="this.exportFilename == null || this.exportHref == null" id="export-note" class="container note">You must validate your poll before exporting it.</div>
    <div *ngIf="this.creationError != ''" class="container error" id="creation-error">{{this.creationError}}</div>
    <div *ngIf="this.creationError == '' && this.exportFilename != null && this.exportHref != null" id="export-valid" class="container valid">Validated poll.</div>

    <button *ngIf="!this.production" (click)="logCurrentDefinition()" type="button" class="poll_action_btn" mat-raised-button>LOG DEF</button>

  </form>
</div>

<ng-template #mod_no_poll_def>
  <div>
    <p class="no-poll-text">There is no poll in process. Click the button below in order to create one.</p>
    <button (click)="loadPollForCreation()" class="poll_action_btn" matTooltip="Create Poll" mat-raised-button>CREATE POLL</button>
  </div>
</ng-template>
